In [129]:
import pymysql # importing pymysql
import pymysql.cursors # importing pymysql cursors
import csv
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [130]:
full_data = pd.read_csv(('bank/bank-full.csv'))

In [131]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [132]:
from sklearn.model_selection import KFold

In [133]:
kf = KFold(n_splits=4, shuffle=True)

In [134]:
full_data['kfold'] = -1
full_data = full_data.sample(frac=1).reset_index(drop=True)
kf = KFold(n_splits=4)
for fold, (trn_, val_) in enumerate(kf.split(X=full_data)):
    full_data.loc[val_, 'kfold'] = fold

* Seprating acording to kfold label

In [135]:
csv1 = full_data[full_data['kfold'] == 0]
csv2 = full_data[full_data['kfold'] == 1]
csv3 = full_data[full_data['kfold'] == 2]
csv4 = full_data[full_data['kfold'] == 3]

* Reseting index values

In [136]:
csv1.reset_index(drop=True,inplace = True)
csv2.reset_index(drop=True,inplace = True)
csv3.reset_index(drop=True,inplace = True)
csv4.reset_index(drop=True,inplace = True)

* Removing Kfold label columns

In [137]:
csv1.drop(columns=['kfold'] ,inplace = True)
csv2.drop(columns=['kfold'] ,inplace = True)
csv3.drop(columns=['kfold'] ,inplace = True)
csv4.drop(columns=['kfold'] ,inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [138]:
csv1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,38,technician,single,secondary,no,435,yes,no,cellular,6,may,437,4,345,1,failure,no
1,45,blue-collar,married,primary,no,345,yes,no,telephone,14,may,289,3,-1,0,unknown,no
2,41,blue-collar,married,secondary,yes,-204,yes,no,unknown,15,may,50,7,-1,0,unknown,no
3,37,services,single,secondary,no,393,yes,no,cellular,8,may,348,4,350,2,other,no
4,59,admin.,married,secondary,no,817,no,no,cellular,9,apr,304,1,-1,0,unknown,no

In [139]:
full_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,kfold
0,38,technician,single,secondary,no,435,yes,no,cellular,6,may,437,4,345,1,failure,no,0
1,45,blue-collar,married,primary,no,345,yes,no,telephone,14,may,289,3,-1,0,unknown,no,0
2,41,blue-collar,married,secondary,yes,-204,yes,no,unknown,15,may,50,7,-1,0,unknown,no,0
3,37,services,single,secondary,no,393,yes,no,cellular,8,may,348,4,350,2,other,no,0
4,59,admin.,married,secondary,no,817,no,no,cellular,9,apr,304,1,-1,0,unknown,no,0

In [140]:
full_data['kfold'].value_counts()

2    11303
1    11303
0    11303
3    11302
Name: kfold, dtype: int64

In [141]:
full_data.drop(columns=['kfold'] ,inplace = True)

In [142]:
csv_1,csv_2,csv_3,csv_4 = np.array_split(full_data,4 )

In [143]:
csv_1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,38,technician,single,secondary,no,435,yes,no,cellular,6,may,437,4,345,1,failure,no
1,45,blue-collar,married,primary,no,345,yes,no,telephone,14,may,289,3,-1,0,unknown,no
2,41,blue-collar,married,secondary,yes,-204,yes,no,unknown,15,may,50,7,-1,0,unknown,no
3,37,services,single,secondary,no,393,yes,no,cellular,8,may,348,4,350,2,other,no
4,59,admin.,married,secondary,no,817,no,no,cellular,9,apr,304,1,-1,0,unknown,no

In [145]:
# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='admin',

                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [13]:
cursor = connection.cursor() # creating cursor

In [14]:
sql_statement = 'CREATE DATABASE project' # sql quary to create db

In [15]:
cursor.execute(sql_statement)

1

In [67]:
cursor.close()

In [146]:
engine = create_engine("mysql+pymysql://root:admin@127.0.0.1/project?charset=utf8") # creating engine
dbConnection    = engine.connect() #connecting to engine

In [148]:
csv1.to_sql('master_csv',dbConnection, if_exists='fail', index = False)#Pandas DataFrame into a MySQL Database

In [150]:
dbConnection.close()

### Modling on csv 1

In [151]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [158]:
feature_data= csv1.drop(columns=['y','job','marital', 'education', 'contact', 
             'housing', 'loan', 'day', 'month', 'poutcome' ])
target_data = csv1.y

In [153]:
from sklearn.preprocessing import OrdinalEncoder

In [154]:
oe= OrdinalEncoder()
csv1['default']= oe.fit_transform(csv1[['default']])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [155]:
csv1['y']= oe.fit_transform(csv1[['y']])
csv1.y=csv1.y.astype('int64')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [159]:
feature_data.head()

   age  default  balance  duration  campaign  pdays  previous
0   38      0.0      435       437         4    345         1
1   45      0.0      345       289         3     -1         0
2   41      1.0     -204        50         7     -1         0
3   37      0.0      393       348         4    350         2
4   59      0.0      817       304         1     -1         0

In [160]:
target_data.value_counts()

0    9975
1    1328
Name: y, dtype: int64

In [161]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data,train_size = 0.7)

In [162]:
class_weight = dict({0:1,1:10})

In [163]:
rf = RandomForestClassifier(class_weight = class_weight,max_depth = 5,n_estimators = 120,n_jobs=1)
rf.fit(trainX,trainY)

RandomForestClassifier(class_weight={0: 1, 1: 10}, max_depth=5,
                       n_estimators=120, n_jobs=1)

In [164]:
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

In [165]:
y_pred =rf.predict(testX)
print(confusion_matrix(testY,y_pred))
print(accuracy_score(testY,y_pred))
print(classification_report(testY,y_pred))

[[2181  826]
 [  54  330]]
0.7404895311117664
              precision    recall  f1-score   support

           0       0.98      0.73      0.83      3007
           1       0.29      0.86      0.43       384

    accuracy                           0.74      3391
   macro avg       0.63      0.79      0.63      3391
weighted avg       0.90      0.74      0.79      3391

In [166]:
file_name = ["csv1"]
model_result = [0.7404895311117664]
actual_file = ["full_data"]

In [167]:
tbl_parts_results = pd.DataFrame(list(zip(file_name, model_result,actual_file)),
               columns =['file_name', 'model_result','actual_file'])

In [168]:
tbl_parts_results

  file_name  model_result actual_file
0      csv1       0.74049   full_data

* creating result table

In [208]:
dbConnection    = engine.connect()

In [209]:
tbl_parts_results.to_sql('tbl_parts_results',dbConnection,if_exists='fail', index = False)

In [204]:
dbConnection.close()

### Appending csv2 into my sql

In [184]:
csv2.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,50,entrepreneur,married,primary,no,300,yes,no,cellular,8,may,99,1,339,2,other,no
1,28,admin.,married,secondary,no,576,yes,yes,cellular,18,may,20,6,-1,0,unknown,no
2,41,blue-collar,married,secondary,no,1219,yes,no,cellular,11,may,628,1,-1,0,unknown,no
3,59,retired,married,secondary,no,997,no,yes,cellular,11,aug,250,4,-1,0,unknown,no
4,31,technician,single,secondary,no,816,no,no,cellular,9,jun,100,2,-1,0,unknown,no

In [205]:
dbConnection    = engine.connect()

In [172]:
csv2.to_sql('master_csv',dbConnection,if_exists='append', index=False)

In [ ]:
dbConnection.close()

* Modling on combining csv2

In [173]:
csv2.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,50,entrepreneur,married,primary,no,300,yes,no,cellular,8,may,99,1,339,2,other,no
1,28,admin.,married,secondary,no,576,yes,yes,cellular,18,may,20,6,-1,0,unknown,no
2,41,blue-collar,married,secondary,no,1219,yes,no,cellular,11,may,628,1,-1,0,unknown,no
3,59,retired,married,secondary,no,997,no,yes,cellular,11,aug,250,4,-1,0,unknown,no
4,31,technician,single,secondary,no,816,no,no,cellular,9,jun,100,2,-1,0,unknown,no

In [ ]:
csv2['y']= oe.fit_transform(csv2[['y']])
csv2.y=csv2.y.astype('int64')

In [186]:
feature_data= csv2.drop(columns=['y','job','marital', 'education', 'contact', 
             'housing', 'loan', 'day', 'month', 'poutcome' ])
target_data = csv2.y

In [194]:
oe= OrdinalEncoder()
feature_data['default']= oe.fit_transform(feature_data[['default']])

In [195]:
feature_data.head()

   age  default  balance  duration  campaign  pdays  previous
0   50      0.0      300        99         1    339         2
1   28      0.0      576        20         6     -1         0
2   41      0.0     1219       628         1     -1         0
3   59      0.0      997       250         4     -1         0
4   31      0.0      816       100         2     -1         0

In [196]:
target_data.head()

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int64

In [192]:
target_data.value_counts()

0    9987
1    1316
Name: y, dtype: int64

In [197]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data,train_size = 0.7)

In [190]:
class_weight = dict({0:1,1:10})

In [198]:
rf = RandomForestClassifier(class_weight = class_weight,max_depth = 5,n_estimators = 120,n_jobs=1)
rf.fit(trainX,trainY)

RandomForestClassifier(class_weight={0: 1, 1: 10}, max_depth=5,
                       n_estimators=120, n_jobs=1)

In [199]:
y_pred =rf.predict(testX)
print(confusion_matrix(testY,y_pred))
print(accuracy_score(testY,y_pred))
print(classification_report(testY,y_pred))

[[2262  734]
 [  80  315]]
0.759952816278384
              precision    recall  f1-score   support

           0       0.97      0.76      0.85      2996
           1       0.30      0.80      0.44       395

    accuracy                           0.76      3391
   macro avg       0.63      0.78      0.64      3391
weighted avg       0.89      0.76      0.80      3391

In [202]:
csv2_result = pd.DataFrame({"file_name":["csv2"],
                            "model_result":[0.759952816278384],
                            "actual_file":["full_data"]
                           })

In [203]:
csv2_result

  file_name  model_result actual_file
0      csv2      0.759953   full_data

* Appending scores to parts table

In [206]:
dbConnection    = engine.connect()

In [210]:
csv2_result.to_sql('tbl_parts_results',dbConnection,if_exists='append', index = False)

In [211]:
dbConnection.close()

In [233]:
tbl_parts_results = tbl_parts_results.append(csv2_result, ignore_index = True)

In [234]:
tbl_parts_results

  file_name  model_result actual_file
0      csv1      0.740490   full_data
1      csv2      0.759953   full_data

### Appending csv3 in to mysql master table

In [213]:
dbConnection    = engine.connect()

In [214]:
csv3.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,52,management,married,tertiary,no,-1224,yes,no,cellular,7,may,253,4,-1,0,unknown,no
1,30,technician,single,secondary,no,86,no,no,unknown,20,aug,45,1,-1,0,unknown,no
2,36,management,single,tertiary,no,937,yes,no,cellular,16,apr,35,1,-1,0,unknown,no
3,43,entrepreneur,married,primary,no,526,yes,no,unknown,7,may,79,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,16869,no,no,cellular,19,nov,107,1,-1,0,unknown,no

In [215]:
csv3.to_sql('master_csv',dbConnection,if_exists='append', index=False)

In [216]:
dbConnection.close()

In [217]:
csv3['y']= oe.fit_transform(csv3[['y']])
csv3.y=csv3.y.astype('int64')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [218]:
feature_data= csv3.drop(columns=['y','job','marital', 'education', 'contact', 
             'housing', 'loan', 'day', 'month', 'poutcome' ])
target_data = csv3.y

In [219]:
oe= OrdinalEncoder()
feature_data['default']= oe.fit_transform(feature_data[['default']])

In [222]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data,train_size = 0.7)

In [223]:
class_weight = dict({0:1,1:10})

In [224]:
rf = RandomForestClassifier(class_weight = class_weight,max_depth = 5,n_estimators = 120,n_jobs=1)
rf.fit(trainX,trainY)

RandomForestClassifier(class_weight={0: 1, 1: 10}, max_depth=5,
                       n_estimators=120, n_jobs=1)

In [225]:
y_pred =rf.predict(testX)
print(confusion_matrix(testY,y_pred))
print(accuracy_score(testY,y_pred))
print(classification_report(testY,y_pred))

[[2281  706]
 [  66  338]]
0.7723385432025951
              precision    recall  f1-score   support

           0       0.97      0.76      0.86      2987
           1       0.32      0.84      0.47       404

    accuracy                           0.77      3391
   macro avg       0.65      0.80      0.66      3391
weighted avg       0.89      0.77      0.81      3391

In [226]:
csv3_result = pd.DataFrame({"file_name":["csv3"],
                            "model_result":[0.7723385432025951],
                            "actual_file":["full_data"]
                           })

* Appending scores to parts table

In [227]:
dbConnection    = engine.connect()

In [228]:
csv3_result.to_sql('tbl_parts_results',dbConnection,if_exists='append', index = False)

In [229]:
dbConnection.close()

In [235]:
tbl_parts_results = tbl_parts_results.append(csv3_result, ignore_index = True)

In [236]:
tbl_parts_results

  file_name  model_result actual_file
0      csv1      0.740490   full_data
1      csv2      0.759953   full_data
2      csv3      0.772339   full_data

### Appending csv4 in to masters table in sql

In [238]:
csv4.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,55,blue-collar,married,secondary,no,233,yes,no,cellular,5,may,813,2,351,3,failure,no
1,31,technician,single,secondary,no,7567,no,no,cellular,11,aug,70,2,-1,0,unknown,no
2,32,blue-collar,single,primary,no,354,no,no,cellular,23,jul,284,8,-1,0,unknown,no
3,34,management,married,tertiary,no,303,yes,no,cellular,29,jan,50,1,195,2,failure,no
4,33,blue-collar,married,secondary,no,249,yes,no,cellular,14,may,7,7,287,4,failure,no

In [239]:
dbConnection    = engine.connect()

In [240]:
csv4.to_sql('master_csv',dbConnection,if_exists='append', index=False)

In [241]:
dbConnection.close()

In [242]:
csv4['y']= oe.fit_transform(csv4[['y']])
csv4.y=csv4.y.astype('int64')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [243]:
feature_data= csv4.drop(columns=['y','job','marital', 'education', 'contact', 
             'housing', 'loan', 'day', 'month', 'poutcome' ])
target_data = csv4.y

In [244]:
oe= OrdinalEncoder()
feature_data['default']= oe.fit_transform(feature_data[['default']])

In [245]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data,train_size = 0.7)

In [246]:
class_weight = dict({0:1,1:10})

In [247]:
rf = RandomForestClassifier(class_weight = class_weight,max_depth = 5,n_estimators = 120,n_jobs=1)
rf.fit(trainX,trainY)

RandomForestClassifier(class_weight={0: 1, 1: 10}, max_depth=5,
                       n_estimators=120, n_jobs=1)

In [248]:
y_pred =rf.predict(testX)
print(confusion_matrix(testY,y_pred))
print(accuracy_score(testY,y_pred))
print(classification_report(testY,y_pred))

[[2239  745]
 [  73  334]]
0.7587732232379829
              precision    recall  f1-score   support

           0       0.97      0.75      0.85      2984
           1       0.31      0.82      0.45       407

    accuracy                           0.76      3391
   macro avg       0.64      0.79      0.65      3391
weighted avg       0.89      0.76      0.80      3391

In [252]:
csv4_result = pd.DataFrame({"file_name":["csv4"],
                            "model_result":[0.7587732232379829],
                            "actual_file":["full_data"]
                           })

* Appending scores to parts table

In [250]:
dbConnection    = engine.connect()

In [253]:
csv4_result.to_sql('tbl_parts_results',dbConnection,if_exists='append', index = False)

In [254]:
dbConnection.close()

In [255]:
tbl_parts_results = tbl_parts_results.append(csv4_result, ignore_index = True)

In [256]:
tbl_parts_results

  file_name  model_result actual_file
0      csv1      0.740490   full_data
1      csv2      0.759953   full_data
2      csv3      0.772339   full_data
3      csv4      0.758773   full_data

### Msql table master_csv to dataframe

In [260]:
data = pd.read_sql_table('master_csv', engine)

In [261]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,38,technician,single,secondary,no,435,yes,no,cellular,6,may,437,4,345,1,failure,no
1,45,blue-collar,married,primary,no,345,yes,no,telephone,14,may,289,3,-1,0,unknown,no
2,41,blue-collar,married,secondary,yes,-204,yes,no,unknown,15,may,50,7,-1,0,unknown,no
3,37,services,single,secondary,no,393,yes,no,cellular,8,may,348,4,350,2,other,no
4,59,admin.,married,secondary,no,817,no,no,cellular,9,apr,304,1,-1,0,unknown,no

In [262]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [264]:
data['y']= oe.fit_transform(data[['y']])
data.y=data.y.astype('int64')

In [265]:
feature_data= data.drop(columns=['y','job','marital', 'education', 'contact', 
             'housing', 'loan', 'day', 'month', 'poutcome' ])
target_data = data.y

In [269]:
oe= OrdinalEncoder()
feature_data['default']= oe.fit_transform(feature_data[['default']])

In [270]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data,train_size = 0.7)

In [295]:
class_weight = dict({0:1,1:5})

In [296]:
rf = RandomForestClassifier(class_weight = class_weight,max_depth = 5,n_estimators = 120,n_jobs=1)
rf.fit(trainX,trainY)

RandomForestClassifier(class_weight={0: 1, 1: 5}, max_depth=5, n_estimators=120,
                       n_jobs=1)

In [297]:
y_pred =rf.predict(testX)
print(confusion_matrix(testY,y_pred))
print(accuracy_score(testY,y_pred))
print(classification_report(testY,y_pred))

[[10110  1895]
 [  429  1130]]
0.8286641108817459
              precision    recall  f1-score   support

           0       0.96      0.84      0.90     12005
           1       0.37      0.72      0.49      1559

    accuracy                           0.83     13564
   macro avg       0.67      0.78      0.69     13564
weighted avg       0.89      0.83      0.85     13564

In [299]:
total_data = pd.DataFrame({"file":["full_csv"],"result":[0.8286641108817459]})

In [301]:
total_data

       file    result
0  full_csv  0.828664

In [302]:
dbConnection    = engine.connect()

In [303]:
total_data.to_sql('master_result',dbConnection,if_exists='fail', index = False)

In [304]:
dbConnection.close()